WAVEFORM_SYNTHETIC_NUM_PATIENTS=
WAVEFORM_SYNTHETIC_WARP_FACTOR=
WAVEFORM_SYNTHETIC_START_DATETIME=
WAVEFORM_SYNTHETIC_END_DATETIME=
WAVEFORM_SYNTHETIC_TCP_CLIENT_POOL_SIZE=1
WAVEFORM_HL7_SEND_HOST="waveform-reader"
WAVEFORM_HL7_SEND_PORT=7777
